<main role="main" class="container">


  <div class="container" style="padding-top: 100px; text-align: center">
    <div class="reach-us-banner">
      <h3><strong><span style="color: red">Shortspell</span> POSSIBILITIES</strong></h3>
      <p style="font-size: 50px; color: red">-</p>
    </div>
  </div>


  <div style="padding-bottom: 50px">

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">Reach <span style="color: red">dayroom </span>from airport, <span class="text-muted">dressup and leave for office like a star </span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px; " src="../../../assets/possibilities/airport_fresh.jpg" data-holder-rendered="true">
      </div>
    </div>


    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">A perfect place for your family to wait, <span class="text-muted">book a <span style="color: red">dayroom</span> and pick up your family when done with work</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/waitfamily.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">A perfect luxury remote office for few hours, <span class="text-muted">increase your productivity in a quiet <span style="color: red">dayroom</span> for few hours</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/office.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">Get people serve you in your <span class="text-muted"><span style="color: red">dayroom </span>, order whatever you want</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/roomservice.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">A pleasant <span style="color: red">dayroom</span> to take a long call, <span class="text-muted">speak in peace</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px; " src="../../../assets/possibilities/call.jpg" data-holder-rendered="true">
      </div>
    </div>


    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">Fix all disgusting bugs in your code in a <span style="color: red">dayroom</span>, <span class="text-muted"> and leave in peace</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/code.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">A <span style="color: red">dayroom</span> is a pleasant place for you to read for few hours <span class="text-muted">and feel accomplished</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/bookreading.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">Want to avoid noisy coffee shop meetings, <span class="text-muted">book a <span style="color: red">dayroom</span> and make deals like a king</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/deals.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">Avoid noisy places and call your makeup executive to your <span style="color: red">dayroom</span>, <span class="text-muted"> enjoy it and look like a queen</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px; " src="../../../assets/possibilities/makeup.jpg" data-holder-rendered="true">
      </div>
    </div>


    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">Want to have a private talk with someone, <span class="text-muted">book a <span style="color: red">dayroom</span> and have a private space for yourself</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/assure.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">Stop on a long highway commute, <span class="text-muted">freshen up in your <span style="color: red">dayroom</span> for few hours</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/highway.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">A <span style="color: red">dayroom </span> is a perfect place to practice your presentation for the big day, <span class="text-muted">now go practice and get a standing ovation</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/presentation.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">It sucks to leave to home from spa, <span class="text-muted">so make a smooth transition in a <span style="color: red">dayroom</span>enjoy the spa after effects in a pleasant room</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/spa.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">Enjoy pool access in selected <span style="color: red">dayrooms</span> , <span class="text-muted">swim for a while and get back and rest</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/pool.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">Spending time with yourself is important, <span class="text-muted">so book a <span style="color: red">dayroom</span> and think what's going on with your life</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/timeyourself.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h4 class="featurette-heading" style="padding-top: 180px">Get a haircut done in selected <span style="color: red">dayrooms</span>, <span class="text-muted"> freshen up and leave to work directly from there</span></h4>
      </div>
      <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/haircut.jpg" data-holder-rendered="true">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">A  <span style="color: red">dayroom</span> is a perfect place to churn new ideas, <span class="text-muted">make a plan and execute</span></h4>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/possibilities/ideas.jpg" data-holder-rendered="true">
      </div>
    </div>

  </div>

</main>



<footer class="footer">
  <div class="container footer-text">
    <span>All rights reserved with dayroom pvt ltd. </span>
  </div>
</footer>

