<main role="main" class="container">

  <!--//Content-->
  <div class="row">
    <div class="col-lg-8">

      <!--//Page navigation-->



      <h2 style="padding-bottom: 20px; padding-top: 100px">Review hotel rules</h2>
      <div class="row" style="padding-left: 15px">
        <i class="material-icons room-contains--icons" style="padding-right: 10px; font-size: 30px">perm_identity</i>
        <p style="font-weight: 100; font-size: 20px">Local ID card required</p>
      </div>
      <hr>
      <div class="row" style="padding-left: 15px">
        <i class="material-icons room-contains--icons" style="padding-right: 10px; font-size: 30px">pets</i>
        <p style="font-weight: 100; font-size: 20px">Pets not allowed</p>
      </div>
      <hr>
      <div class="row" style="padding-left: 15px">
        <i class="material-icons room-contains--icons" style="padding-right: 10px; font-size: 30px">extension</i>
        <p style="font-weight: 100; font-size: 20px">Stay cannot be extended</p>
      </div>
      <hr>
      <div class="row" style="padding-left: 15px">
        <i class="material-icons room-contains--icons" style="padding-right: 10px; font-size: 30px">alarm</i>
        <p style="font-weight: 100; font-size: 20px">Check in time and check out time has to be followed</p>
      </div>
      <hr>
      <p style="font-size: small; padding-top: 20px"><span style="color: red">Note: </span>If there are any other rules they will be conveyed to you at the reception</p>



      <h2 style="padding-bottom: 20px; padding-top: 30px">Names of the guests</h2>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Your email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Names of the guests</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Ex. Sriram and Divya"></textarea>
        </div>
      </form>

      <h2 style="padding-bottom: 20px; padding-top: 30px">Payment</h2>

      <div style="padding: 20px">
        <button type="button" class="btn btn-outline-danger" style="padding: 15px; width: 310px">Proceed to pay</button>
      </div>



    </div>
    <div class="col-lg-4 fixed"  style="padding-top: 100px;">

    <div class="mu sh sp abk">
        <div class="mv">
          <!--<h3 class="abd" style="padding: 10px ">₹2599</h3>-->
          <!--<p style="padding-left: 10px">Not <span style="color: red; text-decoration: line-through; text-decoration-color: black">₹6599</span>, you save <span style="color: limegreen">₹4000</span></p>-->
          <!--<hr>-->

          <h4 style="padding-left: 10px; padding-top: 20px">Novotel Hitec City, Hyderabad</h4>
          <ngb-rating style="font-size: 20px; padding-left: 10px" [rate]="5"></ngb-rating>

          <hr>

          <h5 style="padding-left: 10px; padding-bottom: 20px; ">Date of stay: <span style="color: #157FFC">23/02/2017</span> </h5>

          <h5 style="padding-left: 10px; padding-bottom: 20px;">Duration: <span style="color: #157FFC">3 hrs</span> </h5>

          <h5 style="padding-left: 10px; padding-bottom: 20px; ">Number of guests: <span style="color: #157FFC">1 person</span> </h5>

          <div  style="text-align: center; padding-bottom: 20px">
            <table class="table">

              <tbody style="text-align: left;font-weight:100">
              <tr>
                <td>Room rent</td>
                <td>₹2599</td>
              </tr>
              <tr>
                <td>GST</td>
                <td>₹400</td>
              </tr>
              <tr>
                <td>Hotel Service charge</td>
                <td>₹200</td>
              </tr>
              <tr style="font-size: 30px">
                <td>Total</td>
                <td style="font-weight: 400">₹3199</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>

            <p>With <span style="color: red;">dayroom.com</span>, you saved <span style="color: limegreen">₹4000</span>  by avoiding full day rent of <span style="color: red; text-decoration: line-through; text-decoration-color: black">₹6599</span> </p>
          </div>


    </div>
      </div>

  </div>




  </div>

</main>
