<div class="row base">
  <div class="col-md-12">
    <!--&lt;!&ndash;BOTÃO PARA ABRIR MODAL&ndash;&gt;-->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open Modal</button>-->
    <!--&lt;!&ndash;BOTÃO PARA ABRIR MODAL FIM&ndash;&gt;-->

    <!--ÁREA MODAL-->
    <div class="modal fade bs-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Entrar</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Email</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Senha</label>

                    <label class="control-label labelRight"><a href="#">Esqueceu sua Senha?</a></label>

                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <button type="button" class="button btn primary">Entrar</button>

                  <p>- ou -</p>

                  <button type="button" class="button btn facebook">Entrar com Facebook</button>
                  <button type="button" class="button btn twitter">Entrar com Twitter</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ÁREA MODAL FIM-->
  </div>
</div>
