<main role="main" class="container">

  <div class="container">
    <div class="Brand-speaking">
      <h1><span style="color: red"><strong>Dayroom</strong>.com</span> for business</h1>
      <h3>Book awesome hotel rooms for few hours at huge discounts <strong style="color: red">:)</strong></h3>
    </div>
  </div>


  <!--Reach us-->
  <div class="container">
    <div class="reach-us-banner">
      <h3><strong>TAKE US FOR A SPIN</strong></h3>
      <p style="font-size: 50px; color: red">-</p>
      <p style="font-size: 20px; color: gray">Parterning with us is as easy as saving a bookmark.</p>
      <p style="font-size: 20px; color: gray">Enter your information below and a member from our partner services team will contact you as soon as possible.</p>
    </div>
  </div>


  <!--Reach out form-->
  <div class="row reachus-entry">
    <div class="col-lg-6">
      <label>FULL NAME</label>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Ex. Shriram" aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-lg-6">
      <label>EMAIL ID</label>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="shriram@companyname.com" aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>
  </div>

  <div class="row reachus-entry">
    <div class="col-lg-6">
      <label>BUSINESS NAME</label>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="My compnay name" aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-lg-6">
      <label>ADDRESS OF BUSINESS</label>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Ex. Road No. 10, Banjara Hills, Hyderabad - 500034" aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>
  </div>

  <div class="reachus-submit">
    <button type="button" class="btn  btn-outline-danger btn-lg">Submit</button>
  </div>


  <!--How can DAYROOM for Business be used-->
<div style="padding-bottom: 50px">
  <h2 style="text-align: center; padding-top: 100px; padding-right: 100px; padding-left: 100px">ONE <a style="color: red">DAYROOM</a>, UNLIMITED BUSINESS OPPORTUNITIES</h2>
  <hr style="padding-bottom: 20px ">

  <div class="row featurette">
    <div class="col-md-7">
      <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">If some important guest is visiting your company, <span class="text-muted">make their visit pleasant by offering <span style="color: red">dayroom</span> for few hours</span></h4>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px; " src="../../../assets/business/welcome.jpg" data-holder-rendered="true">
    </div>
  </div>


  <div class="row featurette">
    <div class="col-md-5 order-md-2">
      <h4 class="featurette-heading" style="padding-top: 180px">Want to avoid noisy coffee shop meetings, <span class="text-muted">book a <span style="color: red">dayroom</span> and have a pleasant talk with your client</span></h4>
    </div>
    <div class="col-md-7 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/business/meeting.jpg" data-holder-rendered="true">
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h4 class="featurette-heading" style="padding-top: 180px; padding-right: 150px">Does your employees make one day trips frequently, <span class="text-muted">make their journey pleasant by offering <span style="color: red">dayroom</span> for few hours</span></h4>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/business/employee.jpg" data-holder-rendered="true">
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-5 order-md-2">
      <h4 class="featurette-heading" style="padding-top: 180px">Want to avoid noisy area at client's place, <span class="text-muted">book a <span style="color: red">dayroom</span> and offer exquisite and peaceful makeup experience to your client</span></h4>
    </div>
    <div class="col-md-7 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/business/makeup.jpg" data-holder-rendered="true">
    </div>
  </div>

</div>

</main>

<footer class="footer">
  <div class="container footer-text">
    <span>All rights reserved with dayroom pvt ltd. </span>
  </div>
</footer>
