<main role="main" class="container">

  <div class="container">
    <div class="Brand-speaking">
      <h1 style="color: red"><strong>Dayroom</strong>.com</h1>
      <h2>Book awesome hotel rooms for few hours at huge discounts <strong style="color: red">:)</strong></h2>
    </div>
  </div>

  <div class="row booking-entry">
    <div class="col-lg-3">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" id="search_term" placeholder="Where to?" aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-lg-3">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="On which date?" aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>


    <div class="col-lg-3">
      <div class="btn-group">
        <button class="btn btn-lg dropdown-toggle guestNumber-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          How many?
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1</a>
          <a class="dropdown-item" href="#">2</a>
          <a class="dropdown-item" href="#">3</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <button type="button" class="btn  btn-outline-danger btn-lg">Search Rooms</button>

    </div>

  </div>

  <div class="container usp-row">
    <div class="row features">
      <div class="col-lg-3 text-center">
        <i class="material-icons usp-icons">av_timer</i>
        <h6>Pay only for few hours</h6>
        <!--<p>Don't pay 24hr room rent. Only pay for some hours and save yourselves a lot</p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <i class="material-icons usp-icons">star_border</i>
        <h6>Certified hotels</h6>
        <!--<p>We only show best hotels, dive in to check our hotels with amazing rates</p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <i class="material-icons usp-icons">shuffle</i>
        <h6>Free cancellation</h6>
        <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3 text-center">
        <i class="material-icons usp-icons">credit_card</i>
        <h6>Pay by card</h6>
        <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
      </div><!-- /.col-lg-4 -->
    </div>
  </div>

  <div>
    <h2><strong>DAYROOMS</strong></h2>
    <hr>

    <!--HOTEL SHOWCASE-->
    <!--Row1-->
  <div class="row">
   <div class="card-deck">
    <div class="card col-lg-4">
      <img class="card-img-top" src="../../../assets/bed.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Novotel Hitec City</h4>
        <div class="row">
        <p style="font-weight:100; padding-right: 120px">₹2599 not <a style="text-decoration: line-through; text-decoration-color: red">₹6599</a></p>
          <button type="button" class="btn  btn-outline-danger btn-sm">Book</button>
        </div>
      </div>
    </div>

     <div class="card col-lg-4">
       <img class="card-img-top" src="../../../assets/room2.jpg" alt="Card image cap">
       <div class="card-body">
         <h4 class="card-title">Novotel Hitec City</h4>
         <div class="row">
           <p style="font-weight:100; padding-right: 120px">₹2599 not <a style="text-decoration: line-through; text-decoration-color: red">₹6599</a></p>
           <button type="button" class="btn  btn-outline-danger btn-sm">Book</button>
         </div>
       </div>
     </div>

     <div class="card col-lg-4">
       <img class="card-img-top" src="../../../assets/room1.jpg" alt="Card image cap">
       <div class="card-body">
         <h4 class="card-title">Novotel Hitec City</h4>
         <div class="row">
           <p style="font-weight:100; padding-right: 120px">₹2599 not <a style="text-decoration: line-through; text-decoration-color: red">₹6599</a></p>
           <button type="button" class="btn  btn-outline-danger btn-sm">Book</button>
         </div>
       </div>
     </div>
  </div>
  </div>

    <!--Row2-->
    <div class="row">
    <div class="card-deck">
      <div class="card col-lg-4">
        <img class="card-img-top" src="../../../assets/bed.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Novotel Hitec City</h4>
          <div class="row">
            <p style="font-weight:100; padding-right: 120px">₹2599 not <a style="text-decoration: line-through; text-decoration-color: red">₹6599</a></p>
            <button type="button" class="btn  btn-outline-danger btn-sm">Book</button>
          </div>
        </div>
      </div>

      <div class="card col-lg-4">
        <img class="card-img-top" src="../../../assets/room2.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Novotel Hitec City</h4>
          <div class="row">
            <p style="font-weight:100; padding-right: 120px">₹2599 not <a style="text-decoration: line-through; text-decoration-color: red">₹6599</a></p>
            <button type="button" class="btn  btn-outline-danger btn-sm">Book</button>
          </div>
        </div>
      </div>

      <div class="card col-lg-4">
        <img class="card-img-top" src="../../../assets/room1.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Novotel Hitec City</h4>
          <div class="row">
            <p style="font-weight:100; padding-right: 120px">₹2599 not <a style="text-decoration: line-through; text-decoration-color: red">₹6599</a></p>
            <button type="button" class="btn  btn-outline-danger btn-sm">Book</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

  <div>
    <h2 style="text-align: center; padding-top: 100px; padding-right: 100px; padding-left: 100px">ONE <a style="color: red">DAYROOM</a>, UNLIMITED POSSIBILITIES</h2>
    <hr style="padding-bottom: 20px ">
    <!--row1-->
    <div class="container usp-row">
      <div class="row features">
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">refresh</i>
          <h6>Stop for a refresh</h6>
          <!--<p>Don't pay 24hr room rent. Only pay for some hours and save yourselves a lot</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">important_devices</i>
          <h6>Best office for few hours</h6>
          <!--<p>We only show best hotels, dive in to check our hotels with amazing rates</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">favorite</i>
          <h6>Your wedding dressing room</h6>
          <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">cake</i>
          <h6>Cake cutting for loved ones</h6>
          <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
      <!--row2-->
    <div class="container usp-row">
      <div class="row features">
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">time_to_leave</i>
          <h6>Stop on a highway commute</h6>
          <!--<p>Don't pay 24hr room rent. Only pay for some hours and save yourselves a lot</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">airline_seat_individual_suite</i>
          <h6>Sleep on kingsize bed</h6>
          <!--<p>We only show best hotels, dive in to check our hotels with amazing rates</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">airline_seat_legroom_normal</i>
          <h6>Skip layover at airport</h6>
          <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">monochrome_photos</i>
          <h6>A silent place for photo shoot</h6>
          <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
        </div><!-- /.col-lg-4 -->
      </div>
    </div>

    <!--row3-->
    <div class="container usp-row">
      <div class="row features">
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">business_center</i>
          <h6>Perfect place to close a deal</h6>
          <!--<p>Don't pay 24hr room rent. Only pay for some hours and save yourselves a lot</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">group</i>
          <h6>Good place to interview</h6>
          <!--<p>We only show best hotels, dive in to check our hotels with amazing rates</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">spa</i>
          <h6>A quite peaceful place</h6>
          <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <i class="material-icons usp-icons">headset_mic</i>
          <h6>Silent place for a long call</h6>
          <!--<p>You can directly pay here or reserve here and pay at the hotel</p>-->
        </div><!-- /.col-lg-4 -->
      </div>
    </div>


  </div>






</main>

<h3 style="text-align: center; padding-top: 10px; padding-right: 100px; padding-left: 100px; padding-bottom: 50px">Any questions? <a style="color: red">DAYROOM </a>executive will answer all your questions on <a href=" ">+91 9100105673</a></h3>

<footer class="footer">
  <div class="container footer-text">
    <span>All rights reserved with dayroom pvt ltd. </span>
  </div>
</footer>


