<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#" style="color: red"><strong>Dayroom</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item navbar-link" [routerLink]="['/profile']">
        <a class="nav-link">Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item navbar-link" [routerLink]="['/bookings']">
        <a class="nav-link" target="_blank" style="color: #">My bookings</a>
      </li>
      <li class="nav-item " [routerLink]="['/business']">
        <a class="nav-link" target="_blank" style="color: indianred">Dayroom for Business</a>
      </li>
    </ul>
  </div>
</nav>
