<main role="main" class="container">


<div class="container" style="padding-top: 100px; text-align: center">
  <div class="reach-us-banner">
    <h3><strong>YOUR BOOKINGS</strong></h3>
    <p style="font-size: 50px; color: red">-</p>
   </div>
</div>



<div style="padding-left: 200px; padding-right: 200px">

<div class="card mb-3">
  <div class="card-body">
    <h4 class="card-title">Date: <span style="color: #157FFC">23/02/2017 </span> | Novotel Hitec City, Hyderabd</h4>
    <p class="card-text">Guest name: Varun</p>
    <p class="card-text">Total number of guests: 2</p>
    <p class="card-text">Duration: 3 hrs</p>


    <a href="#" class="btn btn-primary">Repeat booking</a>
  </div>
</div>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">Date: <span style="color: #157FFC">23/02/2017 </span> | Novotel Hitec City, Hyderabd</h4>
      <p class="card-text">Guest name: Varun</p>
      <p class="card-text">Total number of guests: 2</p>
      <p class="card-text">Duration: 3 hrs</p>


      <a href="#" class="btn btn-primary">Repeat booking</a>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">Date: <span style="color: #157FFC">23/02/2017 </span> | Novotel Hitec City, Hyderabd</h4>
      <p class="card-text">Guest name: Varun</p>
      <p class="card-text">Total number of guests: 2</p>
      <p class="card-text">Duration: 3 hrs</p>


      <a href="#" class="btn btn-primary">Repeat booking</a>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">Date: <span style="color: #157FFC">23/02/2017 </span> | Novotel Hitec City, Hyderabd</h4>
      <p class="card-text">Guest name: Varun</p>
      <p class="card-text">Total number of guests: 2</p>
      <p class="card-text">Duration: 3 hrs</p>


      <a href="#" class="btn btn-primary">Repeat booking</a>
    </div>
  </div>

</div>

</main>
